<component name="ArtifactManager">
  <artifact type="war" name="SpringCloudClient:war">
    <output-path>$PROJECT_DIR$/SpringCloudClient/target</output-path>
    <root id="archive" name="SpringCloudClient.war">
      <element id="artifact" artifact-name="SpringCloudClient:war exploded" />
    </root>
  </artifact>
</component>