<component name="ArtifactManager">
  <artifact type="war" name="SpringCloudServer:war">
    <output-path>$PROJECT_DIR$/SpringCloudServer/target</output-path>
    <root id="archive" name="SpringCloudServer-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringCloudServer:war exploded" />
    </root>
  </artifact>
</component>